<html>
  <head>
    <title>MBA Finder</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">MBA FINDER</h1>
        <p>
          Current time: {{time_info}}
        </p>
        <p>
          Thinking aboout applying to business schools? 
          Upload your Linkedin profile and get recommendations!
        </p>
        <p>
          <form action="/review" method="post" enctype = "multipart/form-data">
             Upload Linkedin Profile (PDF) <input type="file" name="linkedin_pdf">
            <br>
            <br>
            LinkedIn URL:(Work in Progress) <input type="url" name="linkedin_url">
            <br>
            <br>
            You can view your profile information before submitting on the next page.
            <br>
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="NEXT">
          </form>
        </p>
      </div>
    </div>
  </body>
</html>
